{% extends './main-guest.html' %}
    {% block navbar %}

    {% endblock %}

    {% block content%}

        <div class="container col-12 col-md-5 col-lg-3 d-flex flex-column justify-content-center py-5" style="height: 100%;">
            <h1 class="text-center">Entrar</h1>
            <p class="text-center">Ainda não possui uma conta? <a href="{% url 'jornal:register' %}">Criar</a></p>
            <form action="{% url 'jornal:login' %}" method="post">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% csrf_token%}
                {{login_form.as_p}}
                <button class="btn btn-primary p-3 w-100 mb-3" type="submit">Entrar</button>
                <a href="{% url 'jornal:index' %}" class="btn btn-light p-3 w-100 text-muted">Voltar</a>
            </form>
        </div>
    {% endblock %}
